* {
  box-sizing: border-box;
}

html, body {
  background-color: gainsboro;
  margin: 0;
  padding: 0;
  font-size: 18px;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.center {
  align-self: center;
}

.flow-right {
  display: flex;
  justify-content: space-around;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 100vh;
}

.title, .controls, .button {
  flex: none;
}

.button {
  padding: 10px;
  margin: auto;
  width: 200px;
}

.todo-list {
  flex: 1 1 0;
  margin-top: 20px;
  padding: 20px;
  overflow-y: auto;
}

.todo-delete {
  margin: 10px;
}

.todo-checkbox {
  margin: 10px;
}

.todo-container {
  padding: 20px;
  border-bottom: 1px solid #333;
}

.todo-container:first-of-type {
  border-top: 1px solid #333;
}

.hr {
  width: 100%;
  margin: 5px 0px;
}

.new {
  margin: 20px auto;
  display: block;
}

li {
  display: grid;
  grid-template-columns: auto 2fr 1fr;
  vertical-align: middle;
  margin: 5px auto;
  max-width: 500px;
}

input {
  margin: 5px 10px;
}

.del {
  margin: 5px;
}
